@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    
    --font-primaria: 'Sriracha', cursive;
    --font-secundaria: 'Bebas Neue', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.apresentacao{
    display: flex;
    padding: 4% 15%;
    align-items: center;
    justify-content: space-between;
    gap: 82px
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.img-hesnan {
    width: 50%;
    height: 50%;
    border-radius: 8%;
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao-links-subtitulo {
    font-family: var(--font-primaria);
    font-size: 1.5rem;
}

.apresentacao-links-navegacao {
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 13px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);

}

.apresentacao-links-navegacao:hover {
    background-color: var(--cor-hover);
}

.rodape {
    padding: 15px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }
    
    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }
}