.carousel-title {
    color: var(--color-orange);
    background-color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1rem 0 .5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5rem 0;
}

.card {
    background: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.card-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.description-title {
    color: var(--color-orange);
    font-weight: 700;
}

.description-title-book {
    color: var(--color-blue);
    font-size: 18px;
    font-weight: 700;
    margin: .5rem 0;
}

.description-text {
    font-size: 14px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.buttons-item {
    margin: 0 .5rem;
}

.buttons-ancora {
    background-color: var(--color-orange);
    padding: 1rem 2.2rem;
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    
    .carousel-title {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2rem auto;
    }
}

@media screen and (min-width: 1728px) {
    
    .carousel-container {
        display: flex;
        margin: 0 20vw 3rem 20vw;
        align-items: center;
    }

    .swiper {
        width: 50%;
    }

    .swiper-pagination {
        margin: 1rem 0;
    }

    .card {
        width: 60%;
        margin-left: 3rem;
    }

    .description {
        margin-right: 2rem;
    }

    .description-title {
        font-size: 32px;
    }

    .description-text {
        font-size: 16px;
    }
}