.header-menu-burger {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-btn,
.container-title,
.options,
.container-text {
    display: none;
}

.container-img {
    padding: 1rem;
}

.list-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-btn:checked ~ .container-label > .header-menu-burger {
    background-image: url(../assets/Menu\ Aberto.svg);
}

.container-btn:checked ~ .container-label {
    background: var(--color-blue-gradient);
}

.container-btn:checked ~ .list-menu {
    display: block;
}

.list-menu-title,
.list-menu-item {
    padding: 1rem;
    background-color: var(--color-white);
}

.list-menu-title {
    color: var(--color-orange);
    font-weight: 700;
}

.list-menu-link {
    background: var(--color-blue-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;  
}

@media screen and (min-width: 1024px) {

    .header-menu-burger,
    .options-buttons,
    .container-img-transparent {
        display: none;
    }

    .container-title,
    .container-title-bold {
        font-family: var(--font-secundary);
        font-size: 30px;
    }

    .container-title {
        font-weight: 400;
        display: block;
    }

    .container-title-bold {
        font-weight: 700;
    }

    .options {
        display: flex;
    }

    .options-buttons:checked ~ .options-label > .options-item {
        background: var(--color-blue-gradient);
        color: var(--color-white);
    }

    .options-buttons:checked ~ .list-menu {
        display: block;
        width: auto;
    }

    .list-menu-item:hover {
        background: var(--color-blue-gradient);
    }

    .list-menu-item:hover > .list-menu-link {
        -webkit-text-fill-color: var(--color-white);
        text-decoration: none;
    }

    .options-item {
        padding: 2rem 1rem;
        text-transform: uppercase;
    }

    .options-link {
        text-decoration: none;
        color: var(--color-black);
    }
}

@media screen and (min-width: 1728px) {
    
    .header {
        padding: 0 2rem;
    }

    .container-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-black);
    }

    .options {
        margin-right: auto;
    }

    .container-text {
        display: block;
    }
}