.header-menu-burger {
    width: 24px;
    height: 24px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-img {
    padding: 1rem;
}

.list-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container-btn:checked ~ .list-menu {
    display: block;
}