@charset "UTF-8";

:root {
    --cor1: #252935;
    --cor2: #6B3360;
    --cor3: #794590;
    --cor4: #68599E;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor4));
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    div#image {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor4));
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    div#image {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#form {
        float: left;
        width: 50%;
    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}